* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

header {
	width: 100%;
	height: 60px;
	background-color: aquamarine;
	display: flex;
}

nav {
	padding: 20px;
	gap: 10px;
}

.deletebtn > img {
	width: 10px;
	height: 10px;
}

.content {
	padding: 30px;
}

.container {
	display: flex;
	padding: 10px;
	border: 1px solid black;
	margin: 10px;
}

.todo {
	display: flex;
	gap: 20px;
}
.utilities {
	margin-left: 15px;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.checkbox:checked ~ p {
	text-decoration: line-through;
}