* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    width: 20%;
    height: 100%;
    background-color: aquamarine;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}